/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f3f4f6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.blue {
  color: #4f7cff;
}

/* HEADER */
header {
  text-align: center;
  margin-top: 40px;
}

header h1 {
  font-size: 34px;
  font-weight: 800;
  color: #111827;
}

.subtitle {
  margin-top: 10px;
  color: #6b7280;
  font-size: 14px;
}

/* ABOUT SECTION */
#about {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.about-box {
  background: #ffffff;
  padding: 50px 60px;
  width: 1100px;
  max-width: 92vw;
  border-radius: 30px;
  box-shadow: 0 20px 65px rgba(0,0,0,0.08);
}

.about-box h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 25px;
  color: #0f172a;
}

.about-box p {
  font-size: 20px;
  line-height: 1.6;
  color: #374151;
  margin-bottom: 35px;
}

/* TIMELINE */
.timeline-box {
  display: flex;
  background: #f7f9ff;
  padding: 25px 30px;
  border-radius: 18px;
  align-items: flex-start;
  margin-bottom: 40px;
  border-left: 10px solid #4f7cff;
}

.timeline-year {
  font-size: 26px;
  font-weight: 800;
  margin-right: 18px;
  color: #0f172a;
}

.timeline-text {
  font-size: 20px;
  color: #374151;
  line-height: 1.5;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 260px;
}

.stat-number {
  font-size: 42px;
  font-weight: 800;
  color: #4f7cff;
  text-align: center;
}

.stat-label {
  font-size: 18px;
  color: #6b7280;
  text-align: center;
  margin-top: 6px;
}

/* PROJECTS */
#projects {
  width: 1100px;
  max-width: 92vw;
  margin: 60px auto;
}

.projects-title {
  font-size: 28px;
  font-weight: 700;
  color: #4f7cff;
  margin-bottom: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.project-card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.07);
}

.project-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 15px;
  color: #374151;
  line-height: 1.5;
}

/* FOOTER */
footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding: 18px 0;
  background: #111;
  color: white;
  font-size: 13px;
}
